<%- include('header') %>

<div class="ui grid">
	<div class="four wide column"> </div>
	<div class="eight wide column">
		<form class="ui form segment" method="post">
			<div class="field required">
				<label>User Name</label>
				<input type="text" name="name" placeholder="User Name">
			</div>
			<div class="field required">
				<label>Password</label>
				<input type="password" name="password" placeholder="Password">
			</div>
			<input type="submit" value="Login" class="ui button fluid">
		</form>
	</div>
</div>

<%- include('footer') %>